@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;font-family: "微软雅黑";}
body{background: #e6e6e6;overflow-x:hidden;}
.article{width:98%;max-width:1000px;margin: 60px auto 100px;background: #fff;padding: 30px;border-radius: 8px;
box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);}
h1{color: #21759B;}	
h2{color: #21759B;font-size: 20px;}	
a{color: #00f;}
p,pre{line-height: 34px;margin-top: 20px;text-align: justify;}
section{padding: 50px;}
.menu{position: fixed;top:80px;width: 250px;margin-right: 0;left: 50%;margin-left: 500px;}
.menu dt{font-size: 16px;line-height: 30px;margin-bottom: 10px;height: 30px;font-size: 18px;line-height: 30px;font-weight: 700;text-indent: 10px;position: relative;}
.menu dt:before{top: 5px;width: 5px;height: 20px;background: #3498db;display: block;left: 0;content: '';position: absolute;}
.menu dd{width: 100%;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.menu a{position:relative;overflow:hidden;color:#1e90ff;text-decoration:none;font-size:14px;line-height:24px;
	display:inline-block;margin-top: 6px;clear: both;float: left;background: #fff;border-radius:0 50px 50px 0;padding: 2px 20px 2px 30px;
}
.menu a:hover{color:#3498db;text-decoration:underline}
.menu a i{position:absolute;top:5px;left:8px;display:block;width:18px;height:18px;border:1px solid #aab2bd;border-color:#f60;color:#f60;
border-radius:100%;text-align:center;font-style:normal;font-size:9px;line-height:15px;}

@media screen and (max-width: 600px) {
	.article{padding: 2px;}
	section{padding: 10px;}
}