body{
	background-image: url("../img/bg.jpg");
}
/*音乐*/
#music{
	position: absolute;
	top: 50px;
	right: 50px;
	border-radius: 10px;
	border:3px solid ;
	width: 300px;
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
}
/*文章*/
#article{
	position: absolute;
	top: 100px;
	left: 500px;
	padding: 15px;
	text-align: left;
	line-height: 25px;
	background-color: #666;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: left;
	color: #FFF;
	font-size: 20px;
	border: 5px solid #333;
	box-shadow: 10px 10px 5px #888888;
	letter-spacing: 3px
}
/*作者*/
#author{
	box-shadow: 10px 10px 5px #888888;
	transform:matrix(0.866,0.5,-0.5,0.866,0,0);
	-ms-transform:matrix(0.866,0.5,-0.5,0.866,0,0);		/* IE 9 */
	-moz-transform:matrix(0.866,0.5,-0.5,0.866,0,0);	/* Firefox */
	-webkit-transform:matrix(0.866,0.5,-0.5,0.866,0,0);	/* Safari and Chrome */
	-o-transform:matrix(0.866,0.5,-0.5,0.866,0,0);		/* Opera */
	position: absolute;
	left: 80px;
	top: 0px;
}