@charset "utf-8";
*{margin:0;padding:0;font-size:12px;}
h1,h2,h3,h4{font-size:100%;}
a,a:hover{text-decoration:none;}
body{background:#e8e8e8 url(../img/rag.png)no-repeat;background-size:100%;}
.logo{background:url(../img/logo-bg.png)no-repeat 50% 0;background-size:auto;overflow:hidden;margin:0 auto;margin-top:30px;}
.logo a{display:block;height:170px;margin-top:120px;}
.logo a img{margin:0 auto;}
.nav{width:80%;margin:0 auto;margin-top:20px;overflow:hidden;border-top:1px solid #898684;padding-top:16px;}
.nav li a{display:block;width:100%;height:66px;text-align:center;background:#E8E8E8 url(../img/ornament.png)no-repeat 0 100%;overflow:hidden;clear:both;padding:0px;}
.nav li a:hover{background:#E8E8E8 url(../img/ornament.png)no-repeat center 100%;}
.nav li a span{display:block;height:16px;}
.article{margin-top:80px;}
.article h2{text-align:center;font-size:1.8em;}
.article p{padding:5px;text-indent:2em;}
.victors{}
.victors_title{background:url(../img/ornament.png)no-repeat 0 100%;width:100%;height:30px;margin:30px 0;overflow:hidden;}
.victors_title h2{width:30%;background:#E8E8E8;height:30px;margin:0 auto;text-align:center;font-size:1.8em;}
.victors_img{display:block;height:100%;overflow:hidden;cursor:pointer;}
.victors_img p{text-align:center;font-size:0.6em;font-family:arial;color:darkred;padding-top:4px;}
.victors_img:hover p{color:red;}
.footer{background:url(../img/ornament.png)no-repeat center 0;overflow:hidden;padding:40px 0 10px 0;}
.footer p{text-align:center;}
